<h3>Liste QCMs</h3>
<div class="row">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Question</th>
      <th scope="col">Reponse</th>
      <th scope="col">Notes</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let qcm of qcms">
      <th scope="row">{{qcm.id}}</th>
      <td>{{qcm.question}}</td>
      <td>{{qcm.reponse}}</td>
      <td>{{qcm.note}}</td>
    </tr>
<!--    <tr>-->
<!--      <th scope="row">2</th>-->
<!--      <td>Jacob</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">3</th>-->
<!--      <td>Larry</td>-->
<!--      <td>the Bird</td>-->
<!--      <td>@twitter</td>-->
<!--    </tr>-->
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="openAdd()"> Ajouter un QCM</button>
</div>
