
<!--<li [ngClass]="{-->
<!--      'list-group-item': true,-->
<!--      'list-group-item-danger': personne?.sexe == 'M',-->
<!--      'list-group-item-primary': personne?.sexe == 'F'-->
<!--      }">-->
<!--  je suis {{personne?.prenom + ' ' + personne?.nom}}-->
<!--  <div class="pull-right">-->
<!--    <button class="btn btn-primary"-->
<!--            [disabled]="personne?.sexe == 'M'" (click)="changerSexeToM()">M</button>-->
<!--    <button class="btn btn-danger"-->
<!--            [disabled]="personne?.sexe == 'F'" (click)="changerSexeToF()">F</button>-->
<!--  </div>-->
<!--  <div *ngIf="personne?.sexe == 'M'"> je suis un Mal</div>-->
<!--  <div *ngIf="personne?.sexe == 'F'"> je suis une Femele</div>-->
<!--  <br>-->
<!--  <br>-->
<!--</li>-->
